/* FILEPATH: /C:/Users/gpdie/Documents/GitHub/TC2005B/Lab01/style.css */

/* Body styles */
body {
  background-color: #f0f5ff;
  color: #333;
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;

  top: 0;
  left: 0;

  max-width: 100vw;

  display: flex;
  flex-direction: column;
}

/* Heading styles */
h1,
h2,
h3 {
  color: #007bff;
}

/* Paragraph styles */
p {
  font-size: 16px;
  line-height: 1.5;
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Table styles */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Semantic element styles */
header {
  background-color: #007bff;
  color: white;
  padding: 20px;
}

header h1 {
  color: white;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #007bff;
  color: white;
  padding: 20px;
}

footer a {
  color: #abcff6;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  max-width: 70vw;
}

article {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #f0f5ff;
  padding: 10px;
}

aside {
  background-color: #f0f5ff;
  padding: 20px;
  max-width: 30vw;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  color: #777;
}

/* Class styles */

.two-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
